<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Items in your shopping cart: </h1>

<br><br>
<div class="cart_show">
<% Lineitem.where(:cart_id => @cart.id).each do |lineitem| %>
  <ul>
    <li><%= lineitem.quantity %> <%= "  -  " %> <%= lineitem.product.name %></li>
  </ul>
<% end %>
</div>

<%= button_to 'Empty Cart', @cart, method: :delete, data: {confirm: 'Are you sure?'} %>