<!DOCTYPE html>
<html>
  <head>
    <title>Book Store for Programmers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body class= "<%= controller.controller_name %>">

    <div id = "banner">
      <%= "Welcome to Junyao's Book Store" %>
    </div>

    <div id = "columns">
      <div id = "side">

        <div id= "cart">
          <%= render 'search/search_form'%>
        </div>


        <div id= "cart">
          <%= render @cart if @cart && !session[:user_id]%>
        </div>
        <ul style="margin-left: 4em; line-height: 2em">
          <li><a href="/shopper">Home</a></li>
          <li><a href="/side_bar/about">About</a></li>
          <li><a href="/side_bar/contact">Contact</a></li>
          <li><a href="/side_bar/news">News</a></li>
          <li><%= link_to 'Login', login_path unless session[:user_id]%></li>
          <li><%= link_to 'Sign-up as Admin', new_user_path unless session[:user_id]%></li>
          <% if session[:user_id] %>
            <ul style="line-height: 2em">
              <li><%= link_to 'Orders', orders_path %></li>
              <li><%= link_to 'Products', products_path %></li>
              <li><%= link_to 'Users', users_path %></li>
            </ul>
            <li><%= link_to 'Logout', logout_path, method: :delete%></li>
          <% end %>
        </ul>
      </div>
      <div id = "main">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
